:root {
    --rose: #FFDEAD;
    --azul: #00BFFF;
    --preto: #000000;
    --branco:#FFFFFF;
}

body {
    background-image: url("../img/background1.png");
    background-repeat: no-repeat;
    background-color: var(--azul);
    background-position-y: 28.18rem;
    
   
}

.titulo {
    font-weight: 400;
    font-size: 5rem;
    text-align: center;
    margin: 1.87rem 0 1.87rem;
    color: var(--preto);
}

.titulo__tarefa {
    font-size: 2.5rem;
    font-weight: 400;
    color: var(--preto);
    margin-left: 9.37rem;

}

.tarefas__css {
    font-size: 1.25rem;
    
    
}

.adicionar input {
    width: 50%;
    margin: 0.62rem 0 1em;
    padding: 1em 0.5em;
    display: block;
    
    
}

.cadastrar {
    font-size: 1.56rem;
    color: var(--azul);
    margin-left: 3.12rem;
    
    
}

.lista {
    font-size: 2.18rem;
    margin-left: 50rem;
    border-radius: 0.62rem;
    border: 0.62rem inset var(--rose);
}

.lista {
    margin: 0 0 0 50rem;
    padding: 0;
}

.item {
    
    padding: 0.6em 2em;
    background: var(--rose);
    border-radius: 0.62rem;
    margin: 0 0 1em;
    width: 100%;
    box-sizing: border-box;
    display:block;
    text-align: center;
    gap: 1em;
    font-size: 1.87rem;
    font-weight: 400;
    color: var(--preto);
}

.titulo__lista {
    text-align: center;
    padding: 0.62rem;
}

