:root {
    --rosa: #FFB6C1;
    --azul: #00BFFF;
}

body {
    background-image: url("../img/background1.png");
    background-repeat: no-repeat;
    background-color: var(--rosa);
    background-position-y: 250px;
   
}

.principal {
    font-weight: 400;
    font-size: 80px;
    text-align: center;
    margin-top: 30px;
    color: var(--azul);
}
